.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* without this, it just covers the height of text */
}

.summer {
    background-color: orange;
}

.winter {
    background-color: aliceblue;
}

.season-display.summer i {
    color: lightyellow;
}

.season-display.winter i {
    color: lightblue;
}